.back-link {
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  margin-top: 32px;
  border: 1px solid;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.back-link:hover,
.back-link:focus {
  background-color: rgb(230, 219, 219);
}